<!--The content below is only a placeholder and can be replaced.-->
<nav mat-tab-nav-bar aria-label="weather navigation links">
    <a mat-tab-link
       *ngFor="let routeLink of [{
           link: 'chart',
           label: 'Chart'
       }, {
           link: 'table',
           label: 'Table'
       }]"
       [routerLink]="routeLink.link"
       routerLinkActive="active"
       #linkActive="routerLinkActive"
       [active]="linkActive.isActive">
        {{routeLink.label}}
    </a>
</nav>
<router-outlet></router-outlet>
